<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaGroupMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaGroup">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="group_type" jdbcType="VARCHAR" property="groupType" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="group_remark" jdbcType="VARCHAR" property="groupRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_type, group_name, group_remark, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opera_group
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_group
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chenss.operateapi.model.OperaGroup">
    insert into opera_group (id, group_type, group_name, 
      group_remark, create_time, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{groupType,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{groupRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaGroup">
    insert into opera_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupType != null">
        group_type,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="groupRemark != null">
        group_remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null">
        #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupRemark != null">
        #{groupRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaGroup">
    update opera_group
    <set>
      <if test="groupType != null">
        group_type = #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="groupRemark != null">
        group_remark = #{groupRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaGroup">
    update opera_group
    set group_type = #{groupType,jdbcType=VARCHAR},
      group_name = #{groupName,jdbcType=VARCHAR},
      group_remark = #{groupRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>