<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaGroupDetailMapper">
    <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaGroupDetail">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="item_id" jdbcType="VARCHAR" property="itemId"/>
        <result column="group_id" jdbcType="VARCHAR" property="groupId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>
    <resultMap id="EnvHostDOResultMap" type="com.chenss.operateapi.response.EnvHostDO">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="env_type" jdbcType="VARCHAR" property="envType"/>
        <result column="env_name" jdbcType="VARCHAR" property="envName"/>
        <result column="host_name" jdbcType="VARCHAR" property="hostName"/>
        <result column="host_ip" jdbcType="VARCHAR" property="hostIp"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, item_id, group_id, create_time, modify_time
  </sql>
    <sql id="Page_Where_Sql">
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="itemId != null">
                AND item_id = #{itemId,jdbcType=VARCHAR}
            </if>
            <if test="groupId != null">
                AND group_id = #{groupId,jdbcType=VARCHAR}
            </if>
            <if test="hostIds != null">
                and item_id in
                <foreach collection="hostIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
                and group_id != #{groupId,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from opera_group_detail
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="queryGroupHostId" parameterType="java.lang.String" resultMap="EnvHostDOResultMap">
        SELECT
	        d.id,e.env_type, e.env_name, h.host_name, h.host_ip
        FROM
            opera_group_detail d,
            opera_host h,
            opera_env e
        WHERE d.item_id = h.id
            AND h.host_env_id = e.id
            and d.group_id = #{id,jdbcType=VARCHAR}
        ORDER BY e.env_type,h.host_name,h.host_ip
    </select>
    <select id="query" parameterType="com.chenss.operateapi.model.OperaGroupDetail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from opera_group_detail
        <include refid="Page_Where_Sql"></include>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_group_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByGroupId" parameterType="java.lang.String">
    delete from opera_group_detail
    where group_id = #{group_id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.chenss.operateapi.model.OperaGroupDetail">
    insert into opera_group_detail (id, item_id, group_id, 
      create_time, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{itemId,jdbcType=VARCHAR}, #{groupId,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into opera_group_detail (id, item_id, group_id)
        values
        <foreach collection="list" item="groupDetail" separator=",">
            (
            #{groupDetail.id},
            #{groupDetail.itemId},
            #{groupDetail.groupId}
            )
        </foreach>
    </insert>
    <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaGroupDetail">
        insert into opera_group_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="itemId != null">
                item_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            create_time,
            modify_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="itemId != null">
                #{itemId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            now(),
            now()
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaGroupDetail">
        update opera_group_detail
        <set>
            <if test="itemId != null">
                item_id = #{itemId,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=VARCHAR},
            </if>
            modify_time = now()
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaGroupDetail">
    update opera_group_detail
    set item_id = #{itemId,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>