<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaHostAccountMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaHostAccount">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="host_id" jdbcType="VARCHAR" property="hostId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, host_id, account, remark, create_time, modify_time
  </sql>
  <sql id="Page_Where_Sql">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="hostId != null">
        AND host_id = #{hostId,jdbcType=VARCHAR}
      </if>
      <if test="account != null">
        AND account = #{account,jdbcType=VARCHAR}
      </if>
      <if test="remark != null">
        AND remark = #{remark,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opera_host_account
    <include refid="Page_Where_Sql"></include>
    order by host_id,account
  </select>
  <select id="query" parameterType="com.chenss.operateapi.model.OperaHostAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from opera_host_account
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_host_account
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chenss.operateapi.model.OperaHostAccount">
    insert into opera_host_account (id, host_id, account, 
      remark, create_time, modify_time
      )
    values (#{id,jdbcType=VARCHAR}, #{hostId,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, now(), now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaHostAccount">
    insert into opera_host_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hostId != null">
        host_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="remark != null">
        remark,
      </if>
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hostId != null">
        #{hostId,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      now(),
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaHostAccount">
    update opera_host_account
    <set>
      <if test="hostId != null">
        host_id = #{hostId,jdbcType=VARCHAR},
      </if>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaHostAccount">
    update opera_host_account
    set host_id = #{hostId,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>