<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaApplicationMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaApplication">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="app_cmdb_id" jdbcType="VARCHAR" property="appCmdbId" />
    <result column="app_name" jdbcType="VARCHAR" property="appName" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="repo_type" jdbcType="VARCHAR" property="repoType" />
    <result column="svn_url" jdbcType="VARCHAR" property="svnUrl" />
    <result column="git_url" jdbcType="VARCHAR" property="gitUrl" />
    <result column="jdk_version" jdbcType="VARCHAR" property="jdkVersion" />
    <result column="app_affiliation_id" jdbcType="INTEGER" property="appAffiliationId" />
    <result column="app_principal" jdbcType="VARCHAR" property="appPrincipal" />
    <result column="app_purpose" jdbcType="VARCHAR" property="appPurpose" />
    <result column="app_remark" jdbcType="VARCHAR" property="appRemark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, app_cmdb_id, app_name, app_type, repo_type, svn_url, git_url, jdk_version, app_affiliation_id, 
    app_principal, app_purpose, app_remark, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opera_application
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <sql id="Page_Where_Sql">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="appCmdbId != null">
        AND app_cmdb_id = #{appCmdbId,jdbcType=VARCHAR}
      </if>
      <if test="appName != null">
        AND app_name = #{appName,jdbcType=VARCHAR}
      </if>
      <if test="appType != null">
        AND app_type = #{appType,jdbcType=VARCHAR}
      </if>
      <if test="repoType != null">
        AND repo_type = #{repoType,jdbcType=VARCHAR}
      </if>
      <if test="svnUrl != null">
        AND svn_url = #{svnUrl,jdbcType=VARCHAR}
      </if>
      <if test="gitUrl != null">
        AND git_url = #{gitUrl,jdbcType=VARCHAR}
      </if>
      <if test="jdkVersion != null">
        AND jdk_version = #{jdkVersion,jdbcType=VARCHAR}
      </if>
      <if test="appAffiliationId != null">
        AND app_affiliation_id = #{appAffiliationId,jdbcType=INTEGER}
      </if>
      <if test="appPrincipal != null">
        AND app_principal = #{appPrincipal,jdbcType=VARCHAR}
      </if>
      <if test="appPurpose != null">
        AND app_purpose = #{appPurpose,jdbcType=VARCHAR}
      </if>
      <if test="appRemark != null">
        AND app_remark = #{appRemark,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="query" parameterType="com.chenss.operateapi.model.OperaApplication" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from opera_application
    <include refid="Page_Where_Sql"></include>
    order by app_name,app_cmdb_id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_application
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chenss.operateapi.model.OperaApplication">
    insert into opera_application (id, app_cmdb_id, app_name, 
      app_type, repo_type, svn_url, 
      git_url, jdk_version, app_affiliation_id, 
      app_principal, app_purpose, app_remark, 
      create_time, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{appCmdbId,jdbcType=VARCHAR}, #{appName,jdbcType=VARCHAR}, 
      #{appType,jdbcType=VARCHAR}, #{repoType,jdbcType=VARCHAR}, #{svnUrl,jdbcType=VARCHAR}, 
      #{gitUrl,jdbcType=VARCHAR}, #{jdkVersion,jdbcType=VARCHAR}, #{appAffiliationId,jdbcType=INTEGER}, 
      #{appPrincipal,jdbcType=VARCHAR}, #{appPurpose,jdbcType=VARCHAR}, #{appRemark,jdbcType=VARCHAR}, 
      now(),now())
  </insert>
  <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaApplication">
    insert into opera_application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appCmdbId != null">
        app_cmdb_id,
      </if>
      <if test="appName != null">
        app_name,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="repoType != null">
        repo_type,
      </if>
      <if test="svnUrl != null">
        svn_url,
      </if>
      <if test="gitUrl != null">
        git_url,
      </if>
      <if test="jdkVersion != null">
        jdk_version,
      </if>
      <if test="appAffiliationId != null">
        app_affiliation_id,
      </if>
      <if test="appPrincipal != null">
        app_principal,
      </if>
      <if test="appPurpose != null">
        app_purpose,
      </if>
      <if test="appRemark != null">
        app_remark,
      </if>
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appCmdbId != null">
        #{appCmdbId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="repoType != null">
        #{repoType,jdbcType=VARCHAR},
      </if>
      <if test="svnUrl != null">
        #{svnUrl,jdbcType=VARCHAR},
      </if>
      <if test="gitUrl != null">
        #{gitUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdkVersion != null">
        #{jdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="appAffiliationId != null">
        #{appAffiliationId,jdbcType=INTEGER},
      </if>
      <if test="appPrincipal != null">
        #{appPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="appPurpose != null">
        #{appPurpose,jdbcType=VARCHAR},
      </if>
      <if test="appRemark != null">
        #{appRemark,jdbcType=VARCHAR},
      </if>
      now(),now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaApplication">
    update opera_application
    <set>
      <if test="appCmdbId != null">
        app_cmdb_id = #{appCmdbId,jdbcType=VARCHAR},
      </if>
      <if test="appName != null">
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="repoType != null">
        repo_type = #{repoType,jdbcType=VARCHAR},
      </if>
      <if test="svnUrl != null">
        svn_url = #{svnUrl,jdbcType=VARCHAR},
      </if>
      <if test="gitUrl != null">
        git_url = #{gitUrl,jdbcType=VARCHAR},
      </if>
      <if test="jdkVersion != null">
        jdk_version = #{jdkVersion,jdbcType=VARCHAR},
      </if>
      <if test="appAffiliationId != null">
        app_affiliation_id = #{appAffiliationId,jdbcType=INTEGER},
      </if>
      <if test="appPrincipal != null">
        app_principal = #{appPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="appPurpose != null">
        app_purpose = #{appPurpose,jdbcType=VARCHAR},
      </if>
      <if test="appRemark != null">
        app_remark = #{appRemark,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaApplication">
    update opera_application
    set app_cmdb_id = #{appCmdbId,jdbcType=VARCHAR},
      app_name = #{appName,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      repo_type = #{repoType,jdbcType=VARCHAR},
      svn_url = #{svnUrl,jdbcType=VARCHAR},
      git_url = #{gitUrl,jdbcType=VARCHAR},
      jdk_version = #{jdkVersion,jdbcType=VARCHAR},
      app_affiliation_id = #{appAffiliationId,jdbcType=INTEGER},
      app_principal = #{appPrincipal,jdbcType=VARCHAR},
      app_purpose = #{appPurpose,jdbcType=VARCHAR},
      app_remark = #{appRemark,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>