<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaHostMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaHost">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="host_ip" jdbcType="VARCHAR" property="hostIp" />
    <result column="host_type" jdbcType="VARCHAR" property="hostType" />
    <result column="host_remark" jdbcType="VARCHAR" property="hostRemark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="host_cpu" jdbcType="VARCHAR" property="hostCpu" />
    <result column="host_memory" jdbcType="VARCHAR" property="hostMemory" />
    <result column="host_harddisk" jdbcType="VARCHAR" property="hostHarddisk" />
    <result column="os_name" jdbcType="VARCHAR" property="osName" />
    <result column="os_version" jdbcType="VARCHAR" property="osVersion" />
    <result column="env_name" jdbcType="VARCHAR" property="envName" />
    <result column="aff_name" jdbcType="VARCHAR" property="affName" />
    <result column="service_type" jdbcType="VARCHAR" property="serviceType" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="host_os_id" jdbcType="INTEGER" property="hostOsId" />
    <result column="host_env_id" jdbcType="INTEGER" property="hostEnvId" />
    <result column="host_affiliation_id" jdbcType="INTEGER" property="hostAffiliationId" />
    <result column="host_service_type" jdbcType="INTEGER" property="hostServiceType" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, host_name, host_ip, host_type, host_remark, `status`, host_cpu, host_memory, host_harddisk, 
    host_os_id, host_env_id, host_affiliation_id, host_service_type, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    FROM
    opera_host
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="query" parameterType="com.chenss.operateapi.model.OperaHost" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from opera_host
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="hostName != null">
        host_name = #{hostName,jdbcType=VARCHAR}
      </if>
      <if test="hostIp != null">
        AND host_ip = #{hostIp,jdbcType=VARCHAR}
      </if>
      <if test="hostType != null">
        AND host_type = #{hostType,jdbcType=VARCHAR}
      </if>
      <if test="hostRemark != null">
        AND host_remark = #{hostRemark,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND `status` = #{status,jdbcType=INTEGER}
      </if>
      <if test="hostCpu != null">
        AND host_cpu = #{hostCpu,jdbcType=VARCHAR}
      </if>
      <if test="hostMemory != null">
        AND host_memory = #{hostMemory,jdbcType=VARCHAR}
      </if>
      <if test="hostHarddisk != null">
        AND host_harddisk = #{hostHarddisk,jdbcType=VARCHAR}
      </if>
      <if test="hostOsId != null">
        AND host_os_id = #{hostOsId,jdbcType=INTEGER}
      </if>
      <if test="hostEnvId != null">
        AND host_env_id = #{hostEnvId,jdbcType=INTEGER}
      </if>
      <if test="hostAffiliationId != null">
        AND host_affiliation_id = #{hostAffiliationId,jdbcType=INTEGER}
      </if>
      <if test="createTimeBegin != null">
        AND create_time >= #{createTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeEnd != null">
        AND <![CDATA[ create_time < #{createTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
      <if test="modifyTimeBegin != null">
        AND modify_time >= #{modifyTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTimeEnd != null">
        AND <![CDATA[ modify_time < #{modifyTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
    </trim>
    order by host_ip
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_host
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.chenss.operateapi.model.OperaHost" useGeneratedKeys="true">
    insert into opera_host (ID,host_name, host_ip, host_type,
      host_remark, `status`, host_cpu, 
      host_memory, host_harddisk, host_os_id, 
      host_env_id, host_affiliation_id, host_service_type, create_time,
      modify_time)
    values (#{id,jdbcType=VARCHAR},#{hostName,jdbcType=VARCHAR}, #{hostIp,jdbcType=VARCHAR}, #{hostType,jdbcType=VARCHAR},
      #{hostRemark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{hostCpu,jdbcType=VARCHAR}, 
      #{hostMemory,jdbcType=VARCHAR}, #{hostHarddisk,jdbcType=VARCHAR}, #{hostOsId,jdbcType=INTEGER}, 
      #{hostEnvId,jdbcType=INTEGER}, #{hostAffiliationId,jdbcType=INTEGER}, #{hostServiceType,jdbcType=INTEGER}, now(), now())
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="com.chenss.operateapi.model.OperaHost" useGeneratedKeys="true">
    insert into opera_host
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="hostName != null">
        host_name,
      </if>
      <if test="hostIp != null">
        host_ip,
      </if>
      <if test="hostType != null">
        host_type,
      </if>
      <if test="hostRemark != null">
        host_remark,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="hostCpu != null">
        host_cpu,
      </if>
      <if test="hostMemory != null">
        host_memory,
      </if>
      <if test="hostHarddisk != null">
        host_harddisk,
      </if>
      <if test="hostOsId != null">
        host_os_id,
      </if>
      <if test="hostEnvId != null">
        host_env_id,
      </if>
      <if test="hostAffiliationId != null">
        host_affiliation_id,
      </if>
      <if test="hostAffiliationId != null">
        host_service_type,
      </if>
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="hostIp != null">
        #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null">
        #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="hostRemark != null">
        #{hostRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="hostCpu != null">
        #{hostCpu,jdbcType=VARCHAR},
      </if>
      <if test="hostMemory != null">
        #{hostMemory,jdbcType=VARCHAR},
      </if>
      <if test="hostHarddisk != null">
        #{hostHarddisk,jdbcType=VARCHAR},
      </if>
      <if test="hostOsId != null">
        #{hostOsId,jdbcType=INTEGER},
      </if>
      <if test="hostEnvId != null">
        #{hostEnvId,jdbcType=INTEGER},
      </if>
      <if test="hostAffiliationId != null">
        #{hostAffiliationId,jdbcType=INTEGER},
      </if>
      <if test="hostServiceType != null">
        #{hostServiceType,jdbcType=INTEGER},
      </if>
      now(),
      now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaHost">
    update opera_host
    <set>
      <if test="hostName != null">
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="hostIp != null">
        host_ip = #{hostIp,jdbcType=VARCHAR},
      </if>
      <if test="hostType != null">
        host_type = #{hostType,jdbcType=VARCHAR},
      </if>
      <if test="hostRemark != null">
        host_remark = #{hostRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="hostCpu != null">
        host_cpu = #{hostCpu,jdbcType=VARCHAR},
      </if>
      <if test="hostMemory != null">
        host_memory = #{hostMemory,jdbcType=VARCHAR},
      </if>
      <if test="hostHarddisk != null">
        host_harddisk = #{hostHarddisk,jdbcType=VARCHAR},
      </if>
      <if test="hostOsId != null">
        host_os_id = #{hostOsId,jdbcType=INTEGER},
      </if>
      <if test="hostEnvId != null">
        host_env_id = #{hostEnvId,jdbcType=INTEGER},
      </if>
      <if test="hostAffiliationId != null">
        host_affiliation_id = #{hostAffiliationId,jdbcType=INTEGER},
      </if>
      <if test="hostServiceType != null">
        host_service_type = #{hostServiceType,jdbcType=INTEGER},
      </if>
        modify_time = now()
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaHost">
    update opera_host
    set host_name = #{hostName,jdbcType=VARCHAR},
      host_ip = #{hostIp,jdbcType=VARCHAR},
      host_type = #{hostType,jdbcType=VARCHAR},
      host_remark = #{hostRemark,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      host_cpu = #{hostCpu,jdbcType=VARCHAR},
      host_memory = #{hostMemory,jdbcType=VARCHAR},
      host_harddisk = #{hostHarddisk,jdbcType=VARCHAR},
      host_os_id = #{hostOsId,jdbcType=INTEGER},
      host_env_id = #{hostEnvId,jdbcType=INTEGER},
      host_affiliation_id = #{hostAffiliationId,jdbcType=INTEGER},
      host_service_type = #{hostServiceType,jdbcType=INTEGER},
      modify_time = now()
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <sql id="Pager_Column_List">
    h.id,h.host_name,h.host_ip,h.host_type,h.STATUS,h.host_cpu,h.host_memory,h.host_harddisk,o.os_name,o.os_version,
    e.env_name,aff.NAME aff_name,st.service_type,st.service_name,h.host_remark,h.create_time,h.modify_time
  </sql>
  <sql id="Pager_end">
  ORDER BY host_name LIMIT #{pageBegin},#{pageSize};
  </sql>
  <sql id="Pager_Where">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="hostName != null">
        host_name like concat(concat('%',#{hostName,jdbcType=VARCHAR}),'%')
      </if>
      <if test="hostIp != null">
        AND host_ip like concat(concat('%',#{hostIp,jdbcType=VARCHAR}),'%')
      </if>
      <if test="hostType != null">
        AND host_type like concat(concat('%',#{hostType,jdbcType=VARCHAR}),'%')
      </if>
      <if test="status != null and status != -1">
        AND h.`status` = #{status,jdbcType=INTEGER}
      </if>
      <if test="hostCpu != null">
        AND host_cpu = #{hostCpu,jdbcType=VARCHAR}
      </if>
      <if test="hostMemory != null">
        AND host_memory = #{hostMemory,jdbcType=VARCHAR}
      </if>
      <if test="hostHarddisk != null">
        AND host_harddisk = #{hostHarddisk,jdbcType=VARCHAR}
      </if>
      <if test="hostOsId != null and hostOsId != -1">
        AND host_os_id = #{hostOsId,jdbcType=INTEGER}
      </if>
      <if test="hostEnvId != null and hostEnvId != -1">
        AND host_env_id = #{hostEnvId,jdbcType=INTEGER}
      </if>
      <if test="hostAffiliationId != null and hostAffiliationId != -1">
        AND host_affiliation_id = #{hostAffiliationId,jdbcType=INTEGER}
      </if>
      <if test="serviceType != null and serviceType != -1">
        AND host_service_type = #{serviceType,jdbcType=INTEGER}
      </if>
      <if test="createTimeBegin != null">
        AND h.create_time >= #{createTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeEnd != null">
        AND <![CDATA[ h.create_time < #{createTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
      <if test="modifyTimeBegin != null">
        AND h.modify_time >= #{modifyTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTimeEnd != null">
        AND <![CDATA[ h.modify_time < #{modifyTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
    </trim>
  </sql>
  <select id="listPaging" parameterType="com.chenss.operateapi.param.OperaHostParam" resultMap="BaseResultMap">
    select
    <include refid="Pager_Column_List"></include>
    FROM
    opera_host h
    LEFT JOIN opera_os o ON h.host_os_id = o.id
    LEFT JOIN opera_env e ON h.host_env_id = e.id
    LEFT JOIN opera_affiliation aff ON h.host_affiliation_id = aff.id
    LEFT JOIN opera_service_type st ON h.host_service_type = st.id
    <include refid="Pager_Where"></include>
    <include refid="Pager_end"></include>
  </select>
  <select id="countListPaging" parameterType="com.chenss.operateapi.param.OperaHostParam" resultType="java.lang.Integer">
    select
    count(1)
      FROM
      opera_host h
      LEFT JOIN opera_os o ON h.host_os_id = o.id
      LEFT JOIN opera_env e ON h.host_env_id = e.id
      LEFT JOIN opera_affiliation aff ON h.host_affiliation_id = aff.id
      LEFT JOIN opera_service_type st ON h.host_service_type = st.id
      <include refid="Pager_Where"></include>
  </select>
</mapper>