<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaDomainMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaDomain">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="domain_url" jdbcType="VARCHAR" property="domainUrl" />
    <result column="visit_control" jdbcType="VARCHAR" property="visitControl" />
    <result column="domain_principal" jdbcType="VARCHAR" property="domainPrincipal" />
    <result column="domain_env" jdbcType="VARCHAR" property="domainEnv" />
    <result column="configuration_strategy" jdbcType="VARCHAR" property="configurationStrategy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, domain_url, visit_control, domain_principal, domain_env, configuration_strategy, 
    create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opera_domain
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <sql id="Page_Where_Sql">
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="domainUrl != null">
        AND domain_url = #{domainUrl,jdbcType=VARCHAR}
      </if>
      <if test="visitControl != null">
        AND visit_control = #{visitControl,jdbcType=VARCHAR}
      </if>
      <if test="domainPrincipal != null">
        AND domain_principal = #{domainPrincipal,jdbcType=VARCHAR}
      </if>
      <if test="domainEnv != null">
        AND domain_env = #{domainEnv,jdbcType=VARCHAR}
      </if>
      <if test="configurationStrategy != null">
        AND configuration_strategy = #{configurationStrategy,jdbcType=VARCHAR}
      </if>
    </trim>
  </sql>
  <select id="query" parameterType="com.chenss.operateapi.model.OperaDomain" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from opera_domain
    <include refid="Page_Where_Sql"></include>
    order by domail_url
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from opera_domain
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.chenss.operateapi.model.OperaDomain">
    insert into opera_domain (id, domain_url, visit_control, 
      domain_principal, domain_env, configuration_strategy, 
      create_time, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{domainUrl,jdbcType=VARCHAR}, #{visitControl,jdbcType=VARCHAR}, 
      #{domainPrincipal,jdbcType=VARCHAR}, #{domainEnv,jdbcType=VARCHAR}, #{configurationStrategy,jdbcType=VARCHAR}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaDomain">
    insert into opera_domain
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="domainUrl != null">
        domain_url,
      </if>
      <if test="visitControl != null">
        visit_control,
      </if>
      <if test="domainPrincipal != null">
        domain_principal,
      </if>
      <if test="domainEnv != null">
        domain_env,
      </if>
      <if test="configurationStrategy != null">
        configuration_strategy,
      </if>
        create_time,
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="domainUrl != null">
        #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="visitControl != null">
        #{visitControl,jdbcType=VARCHAR},
      </if>
      <if test="domainPrincipal != null">
        #{domainPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="domainEnv != null">
        #{domainEnv,jdbcType=VARCHAR},
      </if>
      <if test="configurationStrategy != null">
        #{configurationStrategy,jdbcType=VARCHAR},
      </if>
        now(),now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaDomain">
    update opera_domain
    <set>
      <if test="domainUrl != null">
        domain_url = #{domainUrl,jdbcType=VARCHAR},
      </if>
      <if test="visitControl != null">
        visit_control = #{visitControl,jdbcType=VARCHAR},
      </if>
      <if test="domainPrincipal != null">
        domain_principal = #{domainPrincipal,jdbcType=VARCHAR},
      </if>
      <if test="domainEnv != null">
        domain_env = #{domainEnv,jdbcType=VARCHAR},
      </if>
      <if test="configurationStrategy != null">
        configuration_strategy = #{configurationStrategy,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaDomain">
    update opera_domain
    set domain_url = #{domainUrl,jdbcType=VARCHAR},
      visit_control = #{visitControl,jdbcType=VARCHAR},
      domain_principal = #{domainPrincipal,jdbcType=VARCHAR},
      domain_env = #{domainEnv,jdbcType=VARCHAR},
      configuration_strategy = #{configurationStrategy,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>