<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenss.operateapi.mapper.OperaAffiliationMapper">
  <resultMap id="BaseResultMap" type="com.chenss.operateapi.model.OperaAffiliation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, `desc`, create_time, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from opera_affiliation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="query" parameterType="com.chenss.operateapi.model.OperaAffiliation" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from opera_affiliation
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="name != null">
        AND `name` = #{name,jdbcType=VARCHAR}
      </if>
      <if test="desc != null">
        AND `desc` = #{desc,jdbcType=VARCHAR}
      </if>
      <if test="createTimeBegin != null">
        AND create_time >= #{createTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="createTimeEnd != null">
        AND <![CDATA[ create_time < #{createTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
      <if test="modifyTimeBegin != null">
        AND modify_time >= #{modifyTimeBegin,jdbcType=TIMESTAMP}
      </if>
      <if test="modifyTimeEnd != null">
        AND <![CDATA[ modify_time < #{modifyTimeEnd,jdbcType=TIMESTAMP} ]]>
      </if>
    </trim>
    order by name
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from opera_affiliation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenss.operateapi.model.OperaAffiliation">
    insert into opera_affiliation (id, `name`, `desc`, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chenss.operateapi.model.OperaAffiliation">
    insert into opera_affiliation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenss.operateapi.model.OperaAffiliation">
    update opera_affiliation
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenss.operateapi.model.OperaAffiliation">
    update opera_affiliation
    set `name` = #{name,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>